*{
    padding: 0;
    margin: 0;;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg,rgb(255, 49, 255),rgb(0, 162, 255));
    padding:10px
}
.to-do-ui{
    max-width: 540px;
    position: relative;
    background-color: white;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black ;
}
.to-do-ui h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background-color: rgb(221, 184, 184);
    margin-bottom: 20px;
}
#inputfield{
    flex: 1;
    border: none;
    outline: none;
    background: transparent; 
    font-size: 16px;
    padding: 15px;
}
.add{
    border-radius: 30px;
    padding: 15px 30px;
    border: none;
    outline: none;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
ul li{
    list-style: none;
    cursor: pointer;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
}
ul li.checked{
    text-decoration: line-through;
}
ul li button{
    position: absolute;
    right: 75px;
    background-color: #ff1900;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 5px 5px;
}
